**Inclass material for Week 2: Exploratory Data Analysis**

This notebook was made based on main materials `2_Exploratory_Data_Analysis.ipynb`

Version: Newton - February 2021

___

# Exploratory Data Analysis (EDA)

## Training Objectives

The coursebook focuses on:
- Why and What: Exploratory Data Analysis
- Date Time objects
- Categorical data types
- Cross Tabulation and Pivot Table
- Treating Duplicates and Missing Values

## Introduction to EDA

About 60 years ago, John Tukey defined data analysis as the "procedures for analyzing data, techniques for interpreting the results of such procedures ... and all the machinery of mathematical statistics which apply to analyzing data". His championing of EDA encouraged the development of statistical computing packages, especially S at Bell Labs (which later inspired R).

He wrote a book titled _Exploratory Data Analysis_ arguing that too much emphasis in statistics was placed on hypothesis testing (confirmatory data analysis) while not enough was placed on the discovery of the unexpected. 

> Exploratory data analysis isolates patterns and features of the data and reveals these forcefully to the analyst.

This course aims to present a selection of EDA techniques -- some developed by John Tukey himself -- but with a special emphasis on its application to modern business analytics.

## Data Loading

Don't forget to **import** required library before analysis:

In [2]:
import pandas as pd

Load `household` data from the directory `data_input/household.csv`:

In [6]:
household = pd.read_csv('data_input/household.csv', index_col= 1)
household.head()

,receipt_id,purchase_time,category,sub_category,format,unit_price,discount,quantity,yearmonth
receipts_item_id,,,,,,,,,
32369294,9622257,7/22/2018 21:19,Rice,Rice,supermarket,128000.0,0,1,2018-07
31885876,9446359,7/15/2018 16:17,Rice,Rice,minimarket,102750.0,0,1,2018-07
31930241,9470290,7/15/2018 12:12,Rice,Rice,supermarket,64000.0,0,3,2018-07
32418582,9643416,7/24/2018 8:27,Rice,Rice,minimarket,65000.0,0,1,2018-07
32561236,9692093,7/26/2018 11:28,Rice,Rice,supermarket,124500.0,0,1,2018-07

💡 **Tips**: Using `.info()` method, we can check complete **information** of our DataFrame:

- Number of rows and columns (`.shape`)
- Column name and number of non-null value (`.columns`)
- Data types of each column (`.dtypes`)
- Memory usage

In [7]:
household.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 72000 entries, 32369294 to 17658789
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   receipt_id     72000 non-null  int64
 1   purchase_time  72000 non-null  object
 2   category       72000 non-null  object
 3   sub_category   72000 non-null  object
 4   format         72000 non-null  object
 5   unit_price     72000 non-null  float64
 6   discount       72000 non-null  int64
 7   quantity       72000 non-null  int64
 8   yearmonth      72000 non-null  object
dtypes: float64(1), int64(3), object(5)
memory usage: 5.5+ MB

___

# Working with Datetime

Let's focus on column data types of `household`:

In [8]:
# household['purchase_time'] = household['purchase_time'].astype('datetime64')

Which column should be stored in `datetime64` data type?

> Answer: ...

## Convert to Datetime

There are three common ways for us to convert data type into `datetime64`:

### First: Method `.astype()`

Let's create a copy of `household` so that the original data remains unchanged.

In [9]:
df_1 = household.copy()
df_1.dtypes

receipt_id                int64
purchase_time    datetime64[ns]
category                 object
sub_category             object
format                   object
unit_price              float64
discount                  int64
quantity                  int64
yearmonth                object
dtype: object

Convert data type using `.astype()` method:

In [13]:
df_1['purchase_time'] = df_1['purchase_time'].astype('datetime64')

⚠️ **Warning**: Don't forget to assign the result to its original column.

### Second: Parameter `parse_dates`

Used during data loading, assuming we already know which columns are supposed to be `datetime64`.

In [16]:
df_2 = pd.read_csv('data_input/household.csv', parse_dates=['purchase_time'])
df_2.head()

,receipt_id,receipts_item_id,purchase_time,category,sub_category,format,unit_price,discount,quantity,yearmonth
0,9622257,32369294,2018-07-22 21:19:00,Rice,Rice,supermarket,128000.0,0,1,2018-07
1,9446359,31885876,2018-07-15 16:17:00,Rice,Rice,minimarket,102750.0,0,1,2018-07
2,9470290,31930241,2018-07-15 12:12:00,Rice,Rice,supermarket,64000.0,0,3,2018-07
3,9643416,32418582,2018-07-24 08:27:00,Rice,Rice,minimarket,65000.0,0,1,2018-07
4,9692093,32561236,2018-07-26 11:28:00,Rice,Rice,supermarket,124500.0,0,1,2018-07

### Third: Method `pd.to_datetime()`

In [18]:
df_3 = household.copy()
df_3.dtypes

receipt_id                int64
purchase_time    datetime64[ns]
category                 object
sub_category             object
format                   object
unit_price              float64
discount                  int64
quantity                  int64
yearmonth                object
dtype: object

Convert data type using `pd.to_datetime()` method:

In [21]:
df_3['purchase_time'] = pd.to_datetime(df_3['purchase_time'], format="dd/mm/yyyy")

df_3.head()

,receipt_id,purchase_time,category,sub_category,format,unit_price,discount,quantity,yearmonth
receipts_item_id,,,,,,,,,
32369294,9622257,2018-07-22 21:19:00,Rice,Rice,supermarket,128000.0,0,1,2018-07
31885876,9446359,2018-07-15 16:17:00,Rice,Rice,minimarket,102750.0,0,1,2018-07
31930241,9470290,2018-07-15 12:12:00,Rice,Rice,supermarket,64000.0,0,3,2018-07
32418582,9643416,2018-07-24 08:27:00,Rice,Rice,minimarket,65000.0,0,1,2018-07
32561236,9692093,2018-07-26 11:28:00,Rice,Rice,supermarket,124500.0,0,1,2018-07

So, what is the difference between using `.astype()` and `pd.to_datetime()`?

Unlike using `astype()`, with `pd.to_datetime()` we are allowed to specify **parameters** for the datetime conversion. Thus, provide more **flexibility**.

Suppose we have a column which stores a daily sales data from end of January to the beginning of February:

In [23]:
sales_date = pd.Series(['30-01-2021', '31-01-2021', '01-02-2021', '02-02-2021'])
sales_date

0    30-01-2021
1    31-01-2021
2    01-02-2021
3    02-02-2021
dtype: object

The example above shows how Indonesians usually write dates, using **dd-mm-yyyy** format. Let's see what will happen when we convert `sales_date` data type to `datetime64`:

Take a look on the third observation (second index):

- Expectation: ...
- Reality: ...

⚠️ **Warning**: By default, `pandas` will infer date as **month first** format.

#### Parameter `dayfirst`

Solution 1: Use parameter `dayfirst=True` to specify that our `sales_date` starts with day, not month.

In [ ]:
pd.to_datetime(sales_date, dayfirst=True)

#### Parameter `format`

Solution 2: Use parameter `format` to specifically specify the date formatting of our `sales_date`.

In [35]:
# sales date => dd-mm-yyyy

pd.to_datetime(sales_date, format='%d-%m-%Y')

0   2021-01-30
1   2021-01-31
2   2021-02-01
3   2021-02-02
dtype: datetime64[ns]

The specified `format` is called as Python's `strftime` directives.

`strftime` means string from time, we can format the time in different desirable ways.

[Documentation of `strftime`](https://strftime.org/)

## Extract Datetime Component

The main reason we convert a column to `datetime64` date type because `pandas` has a number of machineries to work with `datetime` objects. These are convenient for when we need to extract datetime component.

**Date component (numeric)**
- `.dt.year`
- `.dt.month`
- `.dt.day`
- `.dt.dayofweek`: index of day, Monday = 0 to Sunday = 6

**Date component (string)**
- `.dt.month_name()`
- `.dt.day_name()`

**Time component**
- `.dt.hour`
- `.dt.minute`
- `.dt.second`

[Documentation of datetime properties](https://pandas.pydata.org/pandas-docs/stable/reference/series.html#datetimelike-properties)

In [57]:
df_3['purchase_time'].dt.day_name()

receipts_item_id
32369294       Sunday
31885876       Sunday
31930241       Sunday
32418582      Tuesday
32561236     Thursday
              ...
17998610    Wednesday
17432379    Wednesday
18263665    Wednesday
17222218     Thursday
17658789      Tuesday
Name: purchase_time, Length: 72000, dtype: object

Let's extract datetime component from `household`, but first let's convert `purchase_time` column to `datetime64`:

In [ ]:
# your code here

Check the range of `purchase_time`:

### Datetime attribute

To extract datetime component in numeric value, we can use its **attribute** (without bracket)

In [36]:
household['purchase_time'].dt.month

receipts_item_id
32369294     7
31885876     7
31930241     7
32418582     7
32561236     7
            ..
17998610    12
17432379    12
18263665    12
17222218    12
17658789    12
Name: purchase_time, Length: 72000, dtype: int64

In [37]:
household['purchase_time'].dt.hour

receipts_item_id
32369294    21
31885876    16
31930241    12
32418582     8
32561236    11
            ..
17998610     9
17432379    19
18263665     8
17222218    12
17658789    18
Name: purchase_time, Length: 72000, dtype: int64

### Datetime method

To extract name (text) from datetime component, we can use its **method** (with bracket)

In [38]:
household['purchase_time'].dt.day_name()

receipts_item_id
32369294       Sunday
31885876       Sunday
31930241       Sunday
32418582      Tuesday
32561236     Thursday
              ...
17998610    Wednesday
17432379    Wednesday
18263665    Wednesday
17222218     Thursday
17658789      Tuesday
Name: purchase_time, Length: 72000, dtype: object

## Datetime Transformation

Supposed we want to transform the existing `datetime64` column into values of periods, we can use the `.to_period()` method:

- `.dt.to_period('D')`: Daily (yyyy-mm-dd)
- `.dt.to_period('W')`: Weekly (Monday to Sunday period)
- `.dt.to_period('M')`: Monthly (year-month)
- `.dt.to_period('Q')`: Quarterly (year-quarter)

[Documentation of offset aliases](https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#timeseries-offset-aliases)

In [41]:
household['purchase_time'].dt.to_period('D')

receipts_item_id
32369294    2018-07-22
31885876    2018-07-15
31930241    2018-07-15
32418582    2018-07-24
32561236    2018-07-26
               ...
17998610    2017-12-27
17432379    2017-12-13
18263665    2017-12-27
17222218    2017-12-07
17658789    2017-12-19
Name: purchase_time, Length: 72000, dtype: period[D]

In [42]:
household['purchase_time'].dt.to_period('W')

receipts_item_id
32369294    2018-07-16/2018-07-22
31885876    2018-07-09/2018-07-15
31930241    2018-07-09/2018-07-15
32418582    2018-07-23/2018-07-29
32561236    2018-07-23/2018-07-29
                    ...
17998610    2017-12-25/2017-12-31
17432379    2017-12-11/2017-12-17
18263665    2017-12-25/2017-12-31
17222218    2017-12-04/2017-12-10
17658789    2017-12-18/2017-12-24
Name: purchase_time, Length: 72000, dtype: period[W-SUN]

In [66]:
household['purchase_time'].dt.to_period('M')

receipts_item_id
32369294    2018-07
31885876    2018-07
31930241    2018-07
32418582    2018-07
32561236    2018-07
             ...
17998610    2017-12
17432379    2017-12
18263665    2017-12
17222218    2017-12
17658789    2017-12
Name: purchase_time, Length: 72000, dtype: period[M]

In [67]:
household['purchase_time'].dt.to_period('Q')

receipts_item_id
32369294    2018Q3
31885876    2018Q3
31930241    2018Q3
32418582    2018Q3
32561236    2018Q3
             ...
17998610    2017Q4
17432379    2017Q4
18263665    2017Q4
17222218    2017Q4
17658789    2017Q4
Name: purchase_time, Length: 72000, dtype: period[Q-DEC]

## Knowledge Check: Datetime

_Estimated time required: 15 minutes_

1. In the following cell, start again by reading in the `household.csv` dataset.
2. Make sure the `purchase_time` column has converted as a datetime object.
3. Use `x.dt.day_name()`, assuming `x` is a datetime object to get the day of week. Assign this to a new column in your `household` Data Frame, name it `weekday`
4. The `yearmonth` column stores the information of year and month of the `purchase_time`. Using `dt.to_period()`, how will you recreate the column if you needed the same information?
5. Print the first 5 rows of your data to verify that your preprocessing steps are correct

In [ ]:
companies['date'] = companies['Month'].astype(str) + '-' + companies['Day'].astype(str) + '-' + companies['Year'].astype(str)
companies['date'] = companies['date'].astype('datetime64')
companies['date'].dt.day_name()

In [ ]:
household = pd.read_csv('./data_input/household.csv', index_col=1)

In [72]:
# your code here
household['purchase_time'] = pd.to_datetime(household['purchase_time'])
household['weekday'] = household['purchase_time'].dt.day_name()
household['yearmonth'] = household['purchase_time'].dt.to_period('M')

In [73]:
household.head(5)

,receipt_id,purchase_time,category,sub_category,format,unit_price,discount,quantity,yearmonth,weekday
receipts_item_id,,,,,,,,,,
32369294,9622257,2018-07-22 21:19:00,Rice,Rice,supermarket,128000.0,0,1,2018-07,Sunday
31885876,9446359,2018-07-15 16:17:00,Rice,Rice,minimarket,102750.0,0,1,2018-07,Sunday
31930241,9470290,2018-07-15 12:12:00,Rice,Rice,supermarket,64000.0,0,3,2018-07,Sunday
32418582,9643416,2018-07-24 08:27:00,Rice,Rice,minimarket,65000.0,0,1,2018-07,Tuesday
32561236,9692093,2018-07-26 11:28:00,Rice,Rice,supermarket,124500.0,0,1,2018-07,Thursday

💭 **Bonus challenge:**

Suppose that the estimated delivery time will take exactly 2 days after the product is purchased. How do we obtain the result by using `purchase_time` column?

In [88]:
household['delivery_time'] = household['purchase_time'] + pd.Timedelta(2, 'D')
household['delivery_time'] = household['delivery_time'].dt.day_name()

household.head(2)

,receipt_id,purchase_time,category,sub_category,format,unit_price,discount,quantity,yearmonth,weekday,delivery_time
receipts_item_id,,,,,,,,,,,
32369294,9622257,2018-07-22 21:19:00,Rice,Rice,supermarket,128000.0,0,1,2018-07,Sunday,Tuesday
31885876,9446359,2018-07-15 16:17:00,Rice,Rice,minimarket,102750.0,0,1,2018-07,Sunday,Tuesday

## Timedelta Object

`pandas` has `.Timedelta()` method which represents a duration, the difference between two dates or times.

[Documentation of Timedelta](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Timedelta.html#pandas-timedelta)

___

# Working with Category

## Characteristic: Unique Values

Characteristic of `category` data type: repeated values, which can be categorized into several groups. We can use:

- `.unique()` to see unique values of a Series
- `.nunique()` to see number of unique values of a Series or DataFrame

to identify which columns are better converted to `category`.

In [ ]:
household.nunique()

## Convert to Category

Let's create a copy of `household` so that the original data remains unchanged.

In [ ]:
household_cat = household.copy()
household_cat.dtypes

Let's convert the columns to `category` data type:

## Advantages

There are two main advantages of converting to `category`:

### First: Memory Efficient

We can compare two Data Frame **before and after** the columns are converted to `category` data type:

- `household` (before): 6.0+ MB
- `household_cat` (after): 3.6 MB

In [ ]:
household.info()

In [ ]:
household_cat.info()

### Second: Categorical Accessor `.cat`

Just like the `datetime64` data type which has `.dt` accessor, the `category` data type has `.cat` accessor.

In [ ]:
household_cat['format'].cat.categories

You can explore more functionalities by refering to [documentation of categorical accessor](https://pandas.pydata.org/pandas-docs/stable/reference/series.html#categorical-accessor) for the complete list.

___

# Contingency Table

One of the simplest EDA toolkit to display **counts** of a categorical column:

Contingency = Cross-tabulation = Frequency tables

In [ ]:
household = household_cat.copy()
household.dtypes

## Method `.value_counts()`

Usage: Get the counts of each unique levels in one categorical column, sorted by descending order.

Parameter:

- `sort=False`: prevent any sorting values, **sort by index** instead
- `ascending=True`: **sort values** in ascending order

<b id='q1'>Business Question 1</b>

There are three categories of `format` (market type), how many total transactions occurred in each `format`?

In [ ]:
household['format'].value_counts()

Let's say we don't need sort by values:

Sort by ascending (smallest to largest):

<b id='q2'>Business Question 2</b>

Which `weekday` has the **largest** and **smallest** transaction volume?

## Cross-Tabulation

Versatile solution in producing frequency table is by using `crosstab`. Syntax:

    pd.crosstab(
        index=...,
        columns=...
    )
                
**Required Parameter**:

- `index`: Values to group by in the index (rows)
- `columns`: Values to group by in the columns

Let's re-create [Business Question 1](#q1) using `pd.crosstab()`:

How many total transactions occurred in each `format`?

In [ ]:
pd.crosstab(
    index=household['format'],
    columns='Total Transactions')

Let's re-create [Business Question 2](#q2) using `pd.crosstab()`:

Which `weekday` has the **largest** and **smallest** transaction volume?

To get the insight easier, we have to sort the DataFrame by using `.sort_values()` method. Let's sort the table above in **descending** order:

Optional: If you want to sort by `weekday` name, using `.cat` accessor:

In [ ]:
household['weekday'] = household['weekday'].cat.reorder_categories(
    ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'],
    ordered=True
)

<b id='q3'>Business Question 3</b>

From [Business Question 1](#q1) we know that minimarket has the most frequent transaction. Let's say we are curious to know what `category` of items has the highest total transactions in minimarket?

### Additional Parameters of `pd.crosstab()`

#### Margins

Usage: Calculate subtotals

Parameter

- `margins`: Add row and column margins for subtotals
- `margins_name`: Name of the row and column that will contain the totals when `margins=True`

In [ ]:
pd.crosstab(
    index=household['category'],
    columns=household['format'],
    margins=True
)

In [ ]:
# change margins_name
pd.crosstab(
    index=household['category'],
    columns=household['format'],
    margins=True,
    margins_name='Total Transaction'
)

#### Normalize

Usage: Calculate percentages/proportions instead of the frequency

- `normalize='all'` or `normalize=True`: normalize over all values
- `normalize='index'`: normalize over each row
- `normalize='columns'`: normalize over each column

**Normalize by all**

In [ ]:
pd.crosstab(
    index=household['category'],
    columns=household['format'],
    margins=True
)

**Normalize by index**

In [ ]:
pd.crosstab(
    index=household['category'],
    columns=household['format'],
    margins=True
)

**Normalize by column**

In [ ]:
pd.crosstab(
    index=household['category'],
    columns=household['format'],
    margins=True
)

## Knowledge Check: Contingency Table

_Estimated time required: 15 minutes_

1. In which period (`yearmonth`) does the hypermarket achieve the highest total transactions?

In [ ]:
# your code here

2. In the second quarter of 2018, how many percentage of total transactions came from the supermarket, when we compared to other `format`? (Hint: extract the quarterly period from `purchase_time`)

In [ ]:
# your code here

💭 **Bonus challenge:**

Produce a frequency table where we can breakdown the total transactions for each `yearmonth` period by each product `category` in each market (`format`).

In `pandas`, we call a higher-dimensional table as Multi-Index DataFrame. We will cover more on Week 3: Data Wrangling and Visualization course. So, stay tune~

___

# Aggregation Table

## `pd.crosstab()`

Not only for creating a frequency table, `crosstab` can also be used to perform aggregation by adding two more parameters:

- `values`: Values to be aggregated according to the `index` and `columns`
- `aggfunc`: Aggregate function to be used. Most common function: 'count', 'mean', 'median', 'sum', 'max', 'min'


    pd.crosstab(
        index=...,
        columns=...,
        values=...,
        aggfunc=...
    )

<b id='q4'>Business Question 4</b>

Find out the most expensive product `category`, by its mean of `unit_price`.

In other words, let's calculate the mean of `unit_price` of each product `category`.

In [ ]:
pd.crosstab(
    index=household['category'], 
    columns='mean_unit_price', 
    values=household['unit_price'],
    aggfunc='mean'
)

<b id='q5'>Business Question 5</b>

Just like [Business Question 4](#q4), but please also breakdown the mean for each market (`format`)

Let's say we want to compare the mean and median side by side:

📝 Notes on mean and median:

- Both are measures of central tendency
- Mean = average values of data, Median = middle value (50%) of data
- Median is prefered when the data is skewed (contains extremely large values)

<b id='q6'>Business Question 6</b>

Construct an aggregation table to show the sum of `quantity` across each product `category` and `format`. Find out how many percentages of **Rice** is sold in **hypermarket**?

Note: Don't forget we can use parameter `margins` and `normalize` too.

## Knowledge Check: Aggregation Table

_Estimated time required: 20 minutes_

1. Create a cross-tab showing the median of `unit_price` across each `sub_category` and `format`. Add a subtotal to both the row and column. Answer the following questions:

    - Overall by median, Sugar is cheapest at ...
    - Overall by median, Detergent is most expensive at ...

In [ ]:
# your code here

2. In which `quarterly` do the hypermarket achieve its highest total sales (sum of `subtotal`)?. **Hint**: Create a new column `subtotal` which calculate the total price of each item in a transaction by multiplying the `unit_price` with the `quantity`.


<!--
# float formatting, round to 3 decimal places
pd.options.display.float_format = '{:.3f}'.format
-->

In [ ]:
# your code here

💭 **Bonus challenge:**

Produce a cross-tabulation table where we calculate the sum of `quantity` using:

- `quarterly` and `weekday` as the `index`
- `format` and `category` as the `columns`

Note: this will return a Multi-Index DataFrame.

## Pivot Table

Actually if our data is already a `DataFrame` object, using `pd.pivot_table()` can be more convenient compared to a `pd.crosstab()`.

Parameters:

- `data`: the `DataFrame` object (**not available in `pd.crosstab()`**)
- `index`: the column to be used as rows
- `columns`: the column to be used as columns
- `values`: the values used to fill in the table
- `aggfunc`: the aggregation function (**default: 'mean'**)

Syntax:

```
pd.pivot_table(
    data=...,
    index=...,
    columns=...,
    values=...,
    aggfunc=...
)
```

OR

```
data.pivot_table(
    index=...,
    columns=...,
    values=...,
    aggfunc=...
)
```

Let's compare between `pivot_table` and `crosstab`. Consider the following aggregation table created using `crosstab`:

In [ ]:
pd.crosstab(
    index=household['weekday'], 
    columns=[household['format'], household['sub_category']], 
    values=household['unit_price'],
    aggfunc='mean'
)

Let's re-create the table above with `pd.pivot_table()`.

Note: Default `aggfunc='mean'`

In [ ]:
pd.pivot_table(
    data=household,
    index='weekday',
    columns=['format', 'sub_category'],
    values='unit_price'
)

If we want to summarize the table by `max` of `unit_price`, just specify the `aggfunc` parameter:

In [ ]:
pd.pivot_table(
    data=household,
    index='weekday', 
    columns=['format', 'sub_category'], 
    values='unit_price',
    aggfunc='max'
)

Let's recreate a frequency table below which shows the number of transactions, using `pd.pivot_table()`:

| category                 |   hypermarket |   minimarket |   supermarket |   Total |
|:-------------------------|--------------:|-------------:|--------------:|--------:|
| **Fabric Care**          |          2611 |        24345 |          9044 |   36000 |
| **Rice**                 |           999 |         7088 |          3913 |   12000 |
| **Sugar/Flavored Syrup** |          1761 |        15370 |          6869 |   24000 |
| **Total**                |          5371 |        46803 |         19826 |   72000 |

- index: ...
- columns: ...
- aggfunc: ...
- values: ...
- "Total" in row and column using ...

**Note:** parameter `margins` and `margins_name` are available on both `crosstab` and `pivot_table`, but parameter `normalize` only available on `crosstab`

___

# Summary: Tables in `pandas`

## Frequency Tables

Usage: calculate number of rows for categorical column

Methods:

- For one column, use `.value_counts()` (Series)
- For one or more columns:
    - `pd.crosstab(index, columns)`
    - `pd.pivot_table(index, columns, aggfunc='count')` but rarely used

## Aggregation Tables

Usage: aggregate numerical column which broken down by categorical column

Methods:

- `pd.crosstab(index, columns, values, aggfunc)`
- `pd.pivot_table(data, index, columns, values, aggfunc)`

## `crosstab` vs `pivot_table`

The main differences between `crosstab` and `pivot_table` can be summarized as follows:

|                                                                                    | `pd.crosstab()` | `pd.pivot_table()` |
|------------------------------------------------------------------------------------|-----------------|--------------------|
|                                                                          **Input** | Array of values |          DataFrame |
|                                                              **Default `aggfunc`** |       `'count'` |           `'mean'` |
|                                                          **Parameter `normalize`** |       Available |      Not Available |
| [**Computation Time**](https://ramiro.org/notebook/pandas-crosstab-groupby-pivot/) | Relatively Slower |  Relatively Faster |

In [ ]:
# crosstab expect a list/array of values, so the input doesn't have to be a DataFrame
import numpy as np

pd.crosstab(
    index=np.array(['Sugar', 'Sugar', 'Rice', 'Rice']),
    columns=np.array(['hypermarket', 'hypermarket', 'minimarket', 'hypermarket'])
)

# Missing Values and Duplicates

During the data exploration and preparation phase, it is likely we come across some problematic details in our data, such as: 

- Value of _-1_ for the _age_ column
- Value of _blank_ for the _customer segment_ column
- Value of _None_ for the _loan duration_ column
- etc

All of these are examples of "untidy" data, which is rather common depending on the data collection and recording process in a company.

## Missing Values

Let's import `household_untidy.csv`, which is a manipulated version of `household` DataFrame. 

**Note**: If you're curious on how to inject the missing values, check out our main materials on Section 3.

In [ ]:
household_untidy = pd.read_csv("data_input/household_untidy.csv", index_col='receipts_item_id')
household_untidy['purchase_time'] = household_untidy['purchase_time'].astype('datetime64')
household_untidy.head()

Missing Values:

- `NaN`: Not a Number, for object and category
- `nan`: not a number, for numeric
- `NaT`: Not a Time, for datetime64

### Check Missing Values

A common method to detect missing values:

- `.isna()`: returns `True` if the values are missing.
- `.notna()`: returns `True` if the values are **not** missing.

In [ ]:
household_untidy.isna()

Count the **number** of missing values across each column:

- `True` will be treated as 1
- `False` will be treated as 0

In [ ]:
household_untidy.isna().sum()

Usually, we count the **percentages** of missing values across each column:

### Treatment for Missing Value

Three most common ways to deal with missing value:

1. Delete column
2. Delete row
3. Imputation

#### Delete Column

Use `.drop(columns = ...)` method

In [ ]:
household_untidy = household_untidy.drop(columns='Unnamed: 8')
household_untidy.head()

⚠️ **Warning**: When removing a column, it is necessary to pay attention to the business case, will the discarded column eliminate or reduce the information of our data?

#### Delete Row

When we are certain that the rows with missing value can be safely dropped, we can use `.dropna()` method.

- `.dropna(how='any')`: drops row if **minimum 1 column** contain missing value

- `.dropna(how='all')`: drops row if **all values** are missing

- `.dropna(thresh=...)`: drops row if non-missing values < `thresh`

In [ ]:
household_untidy.dropna(how='any')#.shape[0]

In [ ]:
household_untidy.dropna(how='all')#.shape[0]

In [ ]:
# example: thresh=1, minimal 1 non-NA value present so that it doesn't drop the row
household_untidy.dropna(thresh=1)

#### Imputation

Fill missing value with some value, using `.fillna()` method

First:

- Impute `category`, `format`, `discount`  with value 'Missing'
- Impute `unit_price` with value 0
- Impute `quantity` with value 0

In [ ]:
household_untidy[['category', 'format', 'discount']] = household_untidy[['category', 'format', 'discount']].fillna('Missing')
household_untidy['unit_price'] = household_untidy['unit_price'].fillna(0)
household_untidy['quantity'] = household_untidy['quantity'].replace(np.nan, 0) #.fillna(0)
household_untidy.head()

Note, these two codes are functionally identical:

- `.fillna(0)`
- `.replace(np.nan, 0)`

Second: impute `purchase_time` with the next value. Use parameter `method='bfill'` to **backward fill** the missing values in the dataset

In [ ]:
household_untidy['purchase_time'] = household_untidy['purchase_time'].fillna(method='bfill')
household_untidy.head(7)

💡 **Tips on Imputation**:

For categorical column, do either:
- Make NA as one category
- Fill using a central value (mode as the most frequent category)
- Fill using predictive/machine learning model (Classification problem)

For numerical column, do either:
- Fill using a central value (mean or median)
- Fill using predictive/machine learning model (Regression problem)

Case: In a dataframe where `salary` is missing but the bank has data about the customer's occupation / profession, years of experience, years of education, seniority level, age, and industry, then a machine learning model can offer a viable alternative to the mean imputation approach.

## Duplicated Data

### Check Duplicates

Use method `.duplicated()` and combine with subsetting operation.

Parameter `keep`: 

- `keep='first'` (default): Mark duplicates as True except for the **first occurrence**.
- `keep='last'`: Mark duplicates as True except for the **last occurrence**.
- `keep=False`: Mark all duplicates as True.

In [ ]:
cond = household_untidy.duplicated(keep=False)
household_untidy[cond]

### Treatment for Duplicated Data

Drop the duplicated row by using `.drop_duplicates()` method.

Parameter `keep`: 

- `keep='first'` (default): Drop duplicates except for the **first occurrence**.
- `keep='last'`: Drop duplicates except for the **last occurrence**.
- `keep=False`: Drop all duplicates.

In [ ]:
household_untidy.drop_duplicates(keep='last')

Suppose we want to show unique observation of `receipt_id`:

In [ ]:
household[household['receipt_id'].duplicated()]

⚠️ **Warning**: Duplicates may mean a different thing from a data point-of-view and a business analyst's point-of-view. You want to be extra careful about whether the duplicates is an intended characteristic of your data, or whether it poses a violation to the business logic.

## Knowledge Check: Missing Values and Duplicates

_Estimated time required: 10 minutes_

Should we drop the duplicates for each of the following case, and why:

1. A medical center collects anonymized heart rate monitoring data from patients. It has duplicate observations collected across a span of 3 months
2. An insurance company uses machine learning to deliver dynamic pricing to its customers. Each row contains the customer's name, occupation / profession and historical health data. It has duplicate observations collected across a span of 3 months
3. On our original `household` data, check for duplicate observations. Would you have drop the duplicated rows?

In [ ]:
# illustration data for question 1
heart = pd.DataFrame({
    'rate': [70, 80, 90, 75, 95, 70, 85, 90]
})

heart

In [ ]:
# illustration data for question 2
insurance = pd.DataFrame({
    'cust_id': ['C1', 'C2', 'C3', 'C4', 'C1'],
    'occupation': ['Employee', 'Employee', 'Student', 'Student', 'Employee'],
    'health': ['Good', 'Ok', 'Good', 'Ok', 'Ok']
})

insurance['cust_id'].duplicated()

In [ ]:
# reference data for question 3
household = pd.read_csv('data_input/household.csv', index_col='receipts_item_id')
household[household.duplicated(keep=False)]

**Answer**:

1. Should (drop/not drop) the duplicates, because ...

2. Should (drop/not drop) the duplicates, because ...

3. Should (drop/not drop) the duplicates, because ...